body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;

  background-image: url("http://www.powerpointhintergrund.com/uploads/ocean-underwater-wallpaper-hd-24.jpeg");
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  background-image: url("http://pngimg.com/uploads/dolphin/dolphin_PNG9132.png");
  height:243px;
  width: 373px;
  /*border:05px solid red;*/

  /*border-radius:1px;*/
  position:absolute;
}

