body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;

  background-image: url("http://cdn.wallpapersafari.com/47/35/JtnRo8.jpg");
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: purple;
}
/*.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}*/
/*.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}*/
.dancer{
  background-image: url("http://pngimg.com/uploads/dolphin/dolphin_PNG9132.png");
  height:243px;
  width: 373px;
  opacity: 0.8;
  /*border:05px solid red;*/

  /*border-radius:1px;*/
  position:absolute;
}

.shark {
  background-image: url("http://www.officialpsds.com/images/thumbs/Great-White-Shark-psd82956.png");
  height:196px;
  width: 400px;
  position:absolute;
}

.well {
  text-align:center;
}

#shark{
  margin:100px 100px;
}
